{% extends "email_base.html" %}

{% block subject %}¡Tienes un nuevo mensaje en tu reserva de Alquiloando!{% endblock %}
{% block heading %}¡Nuevo mensaje en tu conversación!{% endblock %}

{% block content %}
<p>Hola,</p>
<p>Queremos informarte que has recibido un nuevo mensaje relacionado con tu reserva en **{{ propiedad_nombre }}**.</p>

<p>Aquí tienes el mensaje:</p>
<div style="background-color: #f0f0f0; padding: 15px; border-radius: 5px; margin-top: 15px; margin-bottom: 20px;">
  <p style="margin: 0; font-style: italic;">"{{ mensaje }}"</p>
</div>

<p>La reserva es para las siguientes fechas:</p>
<ul>
  <li><strong>Desde:</strong> {{ fecha_inicio | datetimeformat }}</li>
  <li><strong>Hasta:</strong> {{ fecha_fin | datetimeformat }}</li>
</ul>


<p>Saludos cordiales,</p>
<p>El equipo de Alquiloando</p>
{% endblock %}