<!-- templates/reserva_creada.html -->
{% extends "email_base.html" %}

{% block subject %}¡Tu reserva está confirmada!{% endblock %}
{% block heading %}¡Gracias por reservar con Alquiloando!{% endblock %}

{% block content %}
<p>Hola {{ user_name }},</p>
<p>Tu alquiler de {{ propiedad_nombre }} fue realizada para las siguientes fechas:</p>
<ul>
  <li><strong>Desde:</strong> {{ fecha_inicio | datetimeformat }}</li>
  <li><strong>Hasta:</strong> {{ fecha_fin | datetimeformat }}</li>
</ul>
<p>Te esperamos con todo listo para que disfrutes de tu estadía.</p>
{% endblock %}
